.streets-bg {
    background: url(media/rewards/card_background/streets1.png);
    background-position: center;
    background-size: cover;
}

.streets2-bg {
    background: url(media/rewards/card_background/streets2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.streets3-bg {
    background: url(media/rewards/card_background/streets3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.purple-bg {
    background: url(media/rewards/card_background/purple.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.labs-bg {
    background: url(media/rewards/card_background/labs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.labs-bg {
    background: url(media/rewards/card_background/labs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.usec-background {
    background: url(media/rewards/main_background/Usec.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bear-background {
    background: url(media/rewards/main_background/Bear.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.labs-background {
    background: url(media/rewards/main_background/labs.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.goons-background {
    background: url(media/rewards/main_background/Goons.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.raider-background {
    background: url(media/rewards/main_background/raider.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lighthouse-background {
    background: url(media/rewards/main_background/Lighthouse.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* PFP Styles */
.box-style {
    border-radius: 10%;
}

.wide-style {
    border-radius: 10%;
    width: 90px;
    height: 90px;
    margin-top: 8px;
}

/* PFP Borders */
.red-border {
    border-color: rgb(206, 89, 89);
}

.pink-border {
    border-color: rgb(255, 138, 206);
}

.white-border {
    border-color: rgba(255, 255, 255, 0.445);
}

.black-border {
    border-color: rgb(0, 0, 0);
}

/* Prestige Only backgrounds for behind card profile */
.prestige-killa {
    background: url(media/rewards/prestige_only/killa.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.prestige-tagilla {
    background: url(media/rewards/prestige_only/tagilla.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.prestige-both {
    background: url(media/rewards/prestige_only/both.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Themes */
.theme-default {
    background-color: #181a20;
}

.theme-dark {
    background-color: #000000eb;
}

.theme-light {
    background-color: rgb(61, 87, 106);
}

.theme-gradient {
    background: linear-gradient(169deg, rgba(62, 150, 141, 1) 0%, rgba(49, 49, 92, 1) 42%, rgba(60, 62, 99, 1) 69%);
}

.theme-redshade {
    background: linear-gradient(169deg, rgb(150, 62, 62) 0%, rgb(92, 49, 49) 42%, rgb(99, 61, 60) 69%);
}

.theme-steelshade {
    background: linear-gradient(169deg, #808991 0%, #657583 42%, #3F4952 69%);
}

/* Kitties/Penguins :D */
.kittyrew {
    position: absolute;
    width: 150px;
    top: 120px;
    left: 23.5rem;
    z-index: 1;
}

.badger {
    display: none;
    position: absolute;
    width: 100px;
    top: 281px;
    left: 650px;
}

/* Profile Decals */
.scratches {
    background-image: url(media/rewards/profile_decals_mastery/scratches.png);
    background-position: center;
    background-size: cover;
}

.cult-circle {
    background-image: url(media/rewards/profile_decals_mastery/cultist_point.png);
    background-position: center;
    background-size: cover;
    filter: saturate(0.9);
}

.cult-signs {
    background-image: url(media/rewards/profile_decals_mastery/cultist_point1.png);
    background-position: center;
    background-size: cover;
    filter: saturate(0.7);
}

.cult-signs2 {
    background-image: url(media/rewards/profile_decals_mastery/cultist_point_moresigns.png);
    background-position: center;
    background-size: cover;
    filter: saturate(0.6);
}